{{#with rol}}
<form method="POST">
    <div class="form-group">
        <label for="inputName" class="col-sm-1-12 col-form-label">Id</label>
        <div class="col-sm-1-12">
            <input type="text" class="form-control" name="txtId" id="inputName" value="{{_id}}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="inputName" class="col-sm-1-12 col-form-label">Rol</label>
        <div class="col-sm-1-12">
            <input type="text" class="form-control" name="txtRol" id="inputName" value="{{rol}}">
        </div>
    </div>
    <div class="form-group">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </div>
</form>
{{/with}}