<form method="post">
    <div class="form-group">
        <label for="inputId">Id</label>
        <input type="text" class="form-control" name="txtId" id="inputId" placeholder="0" disabled>
    </div>
    <div class="form-group">
        <label for="inputNombre">Nombre</label>
        <input type="text" class="form-control" name="txtNombre" id="inputNombre">
    </div>
    <div class="form-group">
        <label for="inputEmail">Correo</label>
        <input type="email" class="form-control" id="inputEmail" name="txtCorreo" placeholder="correo@ejemplo.com">
    </div>
    <div class="form-group">
        <label for="inputPass">Contraseña</label>
        <input type="text" class="form-control" name="txtPass" id="inputPass">
    </div>
    <div class="form-group">
        <label for="inputImg">Imagen</label>
        <input type="text" class="form-control" name="txtImg" id="inputImg">
    </div>
    <div class="form-group">
        <label for="selectRol">Rol</label>
        <select class="form-control" id="selectRol" name="txtRol">
            {{#each rol}}
            <option value={{rol}}>{{rol}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="txtEstado" id="estado" checked>
        Disponible
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>